In [1]:
import pandas as pd

In [35]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = pd.read_csv("Housing_data_CPH.csv", sep=";")
df.head()

/var/folders/rm/gv1rcxy91gv9f4rjy65zb6b40000gn/T/ipykernel_19393/244856142.py:3: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Housing_data_CPH.csv", sep=";")

,Årmåned_salg,case_type_dk,municipality_name,zip_code,zip_code_name,erts89_utm32_x,erts89_utm32_y,ed50_x,ed50_y,wgs84_lat,wgs84_lon,grundareal,boligareal,vægtet_areal,energimærke_påkrævet,energimærke,antvandskyltoilleter,opvarmningskode,varmeinstallationskode,ydervægkode,byggeår,renoveringsår,md_ejerudgifter,første_udbudspris,senest_annonceret_pris,tinglyst_pris,dage_på_markedet_v_seneste_mægler,dage_på_markedet_v_alle_mæglere
0,201806,Rækkehus,København,2100,København Ø,724661.3697431379,6177506.430197247,724743.4370031202,6177712.574576871,"55,69122405","12,57460491",74.0,144,159,False,e,2,9999,9999,1,1882.0,NaN,5321.0,9500000,9500000,9600000,NaN,NaN
1,201906,Rækkehus,København,2100,København Ø,724656.3099617342,6177510.129902037,724738.3771995398,6177716.274317907,"55,69125957","12,57452761",75.0,121,136.4499969482422,False,NaN,2,9999,9999,1,1882.0,NaN,5362.0,9998000,9998000,9350000,NaN,NaN
2,201805,Rækkehus,København,2100,København Ø,724656.3099617342,6177510.129902037,724738.3771995398,6177716.274317907,"55,69125957","12,57452761",75.0,121,136,True,c,2,9999,9999,1,1882.0,NaN,5324.0,9895000,9500000,8500000,79.0,79.0
3,201805,Rækkehus,København,2100,København Ø,724612.6998841494,6177539.480294425,724694.7669242901,6177745.625006782,"55,69154296","12,57385928",75.0,136,151,True,c,2,9999,9999,5,1882.0,1974.0,5469.0,9595000,9195000,8750000,96.0,96.0
4,202006,Villa,København,2300,København S,726339.2701369224,6172005.4193364065,726421.3337691108,6172211.5248479135,"55,64111328","12,59671021",409.0,107,126,True,d,1,9999,9999,1,1927.0,NaN,4434.0,4195000,3995000,3900000,148.0,148.0

# Exploring the data

cheatsheep : https://anugantisuresh.medium.com/frequently-used-pandas-functions-to-handle-any-data-frame-411274580f8d

In [47]:
df.rename(columns={'Årmåned_salg': 'yearMonth_sale' , 'grundareal': 'ground_area', 'boligareal':'residental_area', 'vægtet_areal':'measured_area',
       'energimærke_påkrævet':'energy_labeled_required', 'energimærke':'energy_labeled', 'antvandskyltoilleter':'amount_of_toilets',
       'opvarmningskode':'heating_code', 'varmeinstallationskode':'heating_installation_code', 'ydervægkode':'exterior_wall_code', 'byggeår':'year_of_construction',
       'renoveringsår':'renovation_year', 'md_ejerudgifter':'owner_expenses', 'første_udbudspris':'first_offer_price',
       'senest_annonceret_pris':'lastest_announced_price', 'tinglyst_pris':'registered_price','dage_på_markedet_v_seneste_mægler':'days_on_the_market_latest_broker', 'dage_på_markedet_v_alle_mæglere':'days_on_the_market_all_broker'}, inplace=True)
df.head(100)

,YearMonth_sale,case_type_dk,municipality_name,zip_code,zip_code_name,erts89_utm32_x,erts89_utm32_y,ed50_x,ed50_y,wgs84_lat,wgs84_lon,ground_area,residental_area,measured_area,energy_labeled_required,energy_labeled,amount_of_toilets,heating_code,heating_installation_code,exterior_wall_code,year_of_construction,renovation_year,owner_expenses,first_offer_price,lastest_announced_price,registered_price,days_on_the_market_latest_broker,days_on_the_market_all_broker
0,201806,Rækkehus,København,2100,København Ø,724661.3697431379,6177506.430197247,724743.4370031202,6177712.574576871,"55,69122405","12,57460491",74.0,144,159,False,e,2,9999,9999,1,1882.0,NaN,5321.0,9500000,9500000,9600000,NaN,NaN
1,201906,Rækkehus,København,2100,København Ø,724656.3099617342,6177510.129902037,724738.3771995398,6177716.274317907,"55,69125957","12,57452761",75.0,121,136.4499969482422,False,NaN,2,9999,9999,1,1882.0,NaN,5362.0,9998000,9998000,9350000,NaN,NaN
2,201805,Rækkehus,København,2100,København Ø,724656.3099617342,6177510.129902037,724738.3771995398,6177716.274317907,"55,69125957","12,57452761",75.0,121,136,True,c,2,9999,9999,1,1882.0,NaN,5324.0,9895000,9500000,8500000,79.0,79.0
3,201805,Rækkehus,København,2100,København Ø,724612.6998841494,6177539.480294425,724694.7669242901,6177745.625006782,"55,69154296","12,57385928",75.0,136,151,True,c,2,9999,9999,5,1882.0,1974.0,5469.0,9595000,9195000,8750000,96.0,96.0
4,202006,Villa,København,2300,København S,726339.2701369224,6172005.4193364065,726421.3337691108,6172211.5248479135,"55,64111328","12,59671021",409.0,107,126,True,d,1,9999,9999,1,1927.0,NaN,4434.0,4195000,3995000,3900000,148.0,148.0
5,202103,Villa,København,2300,København S,726314.7447286966,6171972.668490626,"726396,8081",6172178.773859339,"55,64083099","12,5962944",426.0,140,136,True,a2015,2,9999,9999,80,2017.0,NaN,4613.0,7495000,7495000,7595000,17.0,17.0
6,201108,Villa,København,2700,Brønshøj,718735.9998927611,6178448.999985718,718818.0324674495,6178655.165567457,"55,70238375","12,48127579",970.0,87,259,True,g,2,9999,9999,1,1928.0,NaN,NaN,2250000,2250000,2275000,15.0,15.0
7,201912,Villa,København,2500,Valby,719959.2023814355,6174355.663413339,720041.2320496305,"6174561,8","55,66511917","12,49742126",391.0,107,132,True,f,2,9999,9999,5,1914.0,NaN,6092.0,6498000,6498000,6825000,4.0,4.0
8,201202,Villa,København,2500,Valby,719803.7621381008,6174318.587565216,719885.7907358984,6174524.724455848,"55,66485698","12,4949252",474.0,143,170,True,d,1,9999,9999,1,1930.0,1966.0,NaN,4675000,4675000,4450000,65.0,627.0
9,202201,Rækkehus,København,2300,København S,728076.8752870476,6173143.500418007,"728158,9527",6173349.608616426,"55,65050734","12,62520423",174.0,85,102,True,c,1,9999,9999,1,1943.0,NaN,3963.0,4995000,4995000,5150000,16.0,16.0
10,201804,Villa,København,2300,København S,728051.8197155168,6173097.609870959,728133.8968962858,6173303.717845376,"55,65010757","12,62476881",324.0,62,82,True,d,2,9999,9999,1,1937.0,NaN,4019.0,3595000,3595000,3350000,19.0,19.0
11,201804,Villa,København,2300,København S,728051.8197155168,6173097.609870959,728133.8968962858,6173303.717845376,"55,65010757","12,62476881",324.0,62,82,True,d,2,9999,9999,1,1937.0,NaN,4019.0,3595000,3595000,3350000,19.0,19.0
12,201310,Villa,København,2300,København S,"727991,0002",6173028.999614445,728073.0767765993,6173235.107313949,"55,64952083","12,62374739",324.0,59,84,True,c,2,9999,9999,1,1940.0,1965.0,NaN,2195000,2195000,2145000,13.0,13.0
13,202010,Villa,København,2300,København S,727991.3429276758,6173029.872849336,728073.4195552272,6173235.980553447,"55,6495285","12,62375355",324.0,67,92,True,c,2,9999,9999,1,1940.0,1965.0,4002.0,4595000,4595000,4760000,8.0,8.0
14,201604,Villa lejlighed,København,2700,Brønshøj,720227.7798001907,6178472.900474985,720309.8217798525,6178679.062352076,"55,70192341","12,50498764",451.0,83,80,True,e,1,9999,9999,1,1921.0,NaN,1877.0,2875000,2735000,2625000,220.0,220.0
15,202012,Villa lejlighed,København,2700,Brønshøj,"720227,785",6178472.896280581,720309.8270292978,6178679.058157634,"55,70192337","12,50498772",451.0,65,80,True,e,1,9999,9999,1,1921.0,NaN,2054.0,3795000,3449000,3300000,181.0,181.0
16,201504,Villa,København,2300,København S,728339.6468164674,6172527.492228336,728421.7243392811,6172733.595880885,"55,64486","12,62886",322.0,79,114,True,d,1,9999,9999,1,1942.0,NaN,4421.0,3695000,3695000,3695000,20.0,200.0
17,202111,Villa,København,2300,København S,728339.5625006853,6172528.500366053,728421.6400255576,6172734.604025155,"55,64486908","12,6288595",322.0,79,114,True,d,1,9999,9999,1,1942.0,NaN,5024.0,6500000,6400000,6200000,50.0,50.0
18,201905,Villa,København,2300,København S,"728340,1872",6172528.000033133,728422.2647115018,6172734.103687486,"55,6448643","12,62886899",322.0,79,114,True,d,1,9999,9999,1,1942.0,NaN,4621.0,4895000,4575000,4550000,141.0,504.0
19,201804,Rækkehus,København,2300,København S,728297.5501003008,6172508.219959877,728379.6273095692,6172714.323599407,"55,64470694","12,62817649",235.0,104,125,True,c,2,9999,9999,1,1975.0,NaN,4047.0,3695000,3395000,3260000,113.0,310.0
20,201602,Villa lejlighed,København,2300,København S,727295.7249803584,6174389.584330083,727377.8007371816,6174595.702363818,"55,66204748","12,61384637",307.0,119,132,True,d,2,9999,9999,1,1899.0,NaN,3810.0,4150000,4150000,4350000,22.0,22.0
21,201505,Villa,København,2300,København S,727181.7256546846,6174618.583734156,727263.8012849808,6174824.703499242,"55,66415435","12,61222727",307.0,183,204,True,d,3,9999,9999,1,1900.0,NaN,4665.0,6595000,6595000,6400000,27.0,27.0
22,201907,Villa,København,2300,København S,"727184,669",6174619.980534226,727266.7446167105,"6174826,1","55,6641655","12,61227512",307.0,183,204,True,d,3,9999,9999,1,1900.0,NaN,4780.0,9495000,9495000,9200000,33.0,33.0
23,201906,Villa,København,2700,Brønshøj,717492.2499472656,6178991.499691966,717574.2761350371,6179197.671894189,"55,70780844","12,46195227",913.0,71,99,True,f,1,9999,9999,1,1933.0,NaN,5899.0,3495000,3295000,3225000,52.0,52.0
24,202006,Villa,København,2720,Vanløse,720275.9385979559,6177871.348942523,720357.9793265118,6178077.5069204895,"55,6965065","12,50526905",528.0,110,132,True,f,1,9999,9999,5,1928.0,NaN,5496.0,4698000,4698000,4720000,41.0,41.0
25,201410,Villa lejlighed,København,2720,Vanløse,719576.9999746722,6177591.000160906,719659.0356009763,6177797.158184862,"55,69430883","12,49394548",508.0,60,"70,15000153",True,e,1,9999,9999,90,1932.0,NaN,NaN,1599000,1499000,1475000,237.0,237.0
26,201811,Rækkehus,København,2300,København S,727714.0499037598,6173179.980357015,727796.1251774749,6173386.089716651,"55,65100453","12,61948037",319.0,139,165,True,e,0,9999,9999,5,1906.0,1970.0,4247.0,4995000,4995000,4710000,10.0,10.0
27,201811,Rækkehus,København,2300,København S,727714.0499037598,6173179.980357015,727796.1251774749,6173386.089716651,"55,65100453","12,61948037",319.0,139,165,True,e,0,9999,9999,9999,1906.0,1970.0,4247.0,4995000,4995000,4710000,10.0,10.0
28,202108,Villa,København,2720,Vanløse,"718585,7671",6175997.226072448,718667.7923965115,"6176203,377","55,68046188","12,47693539",262.0,110,130,True,d,2,9999,9999,1,1938.0,NaN,5875.0,8898000,8650000,8200000,67.0,67.0
29,201911,Villa,København,2720,Vanløse,718585.8748509332,6175996.999566134,718667.9001490276,6176203.150145254,"55,6804598","12,47693692",263.0,110,134,True,d,2,9999,9999,1,1938.0,NaN,5372.0,7995000,6995000,6550000,182.0,182.0
30,201503,Villa,København,2720,Vanløse,718553.9500386973,6177610.7895329585,718635.9793070245,6177816.9503252795,"55,69494801","12,47771603",411.0,85,123,True,e,1,9999,9999,1,1935.0,1950.0,4794.0,3275000,3275000,3300000,63.0,63.0
31,201508,Rækkehus,København,2300,København S,728244.7198646439,6172603.593002469,728326.7969872942,6172809.697377048,"55,64558699","12,62741793",201.0,98,116,True,d,2,9999,9999,1,1943.0,NaN,3349.0,3595000,3595000,3550000,20.0,20.0
32,201707,Villa,København,2300,København S,728244.7198646439,6172603.593002469,728326.7969872942,6172809.697377048,"55,64558699","12,62741793",201.0,98,116,True,d,2,9999,9999,1,1943.0,NaN,3520.0,4095000,4095000,4025000,93.0,146.0
33,201805,Villa,København,2300,København S,728529.0601402406,6172738.3601251785,728611.1393924152,6172944.4646165455,"55,64666197","12,63203867",633.0,72,109,True,e,1,9999,9999,1,1943.0,NaN,5556.0,4745000,4745000,4675000,19.0,19.0
34,201508,Villa,København,2300,København S,728530.1102800219,"6172737,9",728612.1895376032,6172944.004443659,"55,64665735","12,63205494",633.0,72,109,True,e,1,9999,9999,1,1943.0,NaN,5685.0,3950000,3950000,3950000,4.0,4.0
35,201608,Villa,København,2700,Brønshøj,718171.7716495749,6179184.5649105795,718253.8025917849,6179390.736566184,"55,70923493","12,47290013",630.0,133,137,True,e,2,9999,9999,1,1929.0,NaN,5116.0,4150000,4150000,3900000,42.0,42.0
36,202002,Villa,København,2500,Valby,721811.5149279701,6174372.552999795,721893.5562543683,"6174578,685","55,66442871","12,52682495",1265.0,333,377,True,e,3,9999,9999,1,1898.0,NaN,14899.0,23500000,22000000,18700000,141.0,141.0
37,201702,Villa lejlighed,København,2500,Valby,721582.7528162883,6173339.592387627,721664.7900446467,"6173545,719","55,65526901","12,52236232",687.0,70,87,True,d,1,9999,9999,5,1913.0,NaN,3140.0,3795000,3795000,3655000,31.0,31.0
38,201310,Villa lejlighed,København,2700,Brønshøj,718271.7708116923,6178038.570390965,718353.7994179478,6178244.734597576,"55,69891169","12,47357576",728.0,138,165.0500030517578,True,c,2,9999,9999,1,1932.0,NaN,NaN,2895000,2895000,2820000,83.0,83.0
39,201102,Villa lejlighed,København,2700,Brønshøj,718271.7708116923,6178038.570390965,718353.7994179478,6178244.734597576,"55,69891169","12,47357576",728.0,138,165.0500030517578,False,d,2,9999,9999,1,1932.0,NaN,NaN,2695000,2645000,2555000,248.0,248.0
40,201209,Villa,København,2700,Brønshøj,"718273,9999",6178036.999679875,718356.0285322075,6178243.163870864,"55,6988966","12,47360991",728.0,105,113.3499984741211,True,c,1,9999,9999,1,1932.0,NaN,NaN,1945000,1945000,1850000,65.0,516.0
41,201501,Villa,København,2700,Brønshøj,718283.4901341379,6178084.619764307,"718365,5189",6178290.784229585,"55,69931943","12,47379855",253.0,98,117,True,c,1,9999,9999,5,1945.0,NaN,3953.0,2997000,2997000,2997000,4.0,4.0
42,201501,Villa,København,2700,Brønshøj,718283.4901341379,6178084.619764307,"718365,5189",6178290.784229585,"55,69931943","12,47379855",253.0,98,117,True,c,1,9999,9999,1,1945.0,NaN,3953.0,2997000,2997000,2997000,4.0,4.0
43,201805,Villa,København,2700,Brønshøj,"718283,9998",6178109.639564973,718366.0286575869,6178315.804185942,"55,6995436","12,47382657",253.0,98,117,True,c,2,9999,9999,9999,1945.0,1975.0,4421.0,3790000,3590000,3540000,111.0,111.0
44,201107,Villa,København,2700,Brønshøj,717783.0002162036,6179401.999866836,717865.0292861639,6179608.173892043,"55,71135976","12,4668972",840.0,109,159,True,g,2,9999,9999,9999,1934.0,1965.0,NaN,2795000,2795000,2685000,55.0,55.0
45,201107,Villa,København,2700,Brønshøj,717783.0002162036,6179401.999866836,717865.0292861639,6179608.173892043,"55,71135976","12,4668972",840.0,109,159,True,g,2,9999,9999,1,1934.0,1965.0,NaN,2795000,2795000,2685000,55.0,55.0
46,202202,Villa,København,2700,Brønshøj,717694.2405417162,6179370.042985945,717776.2689732654,6179576.217040308,"55,71111298","12,46546173",468.0,107,109,True,d,1,9999,9999,9999,1960.0,1976.0,4726.0,4995000,4850000,4800000,111.0,111.0
47,201407,Villa,København,2720,Vanløse,"719626,7635",6176661.576367909,719708.7970350906,6176867.728429371,"55,68595061","12,49399136",392.0,127,154,True,d,2,9999,9999,1,1922.0,NaN,NaN,4995000,4995000,5050000,6.0,6.0
48,202007,Villa,København,2720,Vanløse,719629.1663444603,"6176662,193",719711.1998991172,6176868.344661299,"55,68595505","12,49403",389.0,127,153.8000030517578,False,c,2,9999,9999,1,1922.0,NaN,5584.0,7795000,7795000,7500000,NaN,NaN
49,201605,Villa lejlighed,København,2720,Vanløse,719557.8000944026,6176625.250345858,719639.8331064555,6176831.402357446,"55,685656","12,49286745",597.0,80,122,True,c,1,9999,9999,1,1916.0,NaN,3046.0,3800000,3800000,3725000,59.0,59.0
50,202102,Rækkehus,København,2720,Vanløse,719248.1874269245,6176467.999454102,719330.2180926487,6176674.151278493,"55,68438555","12,4878265",205.0,104,114,True,c,2,9999,9999,1,1944.0,NaN,4467.0,4995000,4995000,5000000,9.0,9.0
51,201608,Villa,København,2300,København S,726645.2497573757,6172387.550205003,"726727,3163",6172593.6573316045,"55,64439764","12,60187656",617.0,142,175,True,d,2,9999,9999,1,1928.0,NaN,6368.0,5500000,5100000,4925000,228.0,228.0
52,202102,Villa,København,2500,Valby,719933.5398863752,6172733.845691369,720015.5652068501,6172939.972289341,"55,65058517","12,49571609",848.0,124,150.5500030517578,True,c,2,9999,9999,5,1955.0,NaN,5582.0,6295000,6295000,6800000,0.0,0.0
53,201607,Villa,København,2500,Valby,719933.7900636722,6172733.210502557,720015.8153840768,"6172939,337","55,65057936","12,49571955",848.0,124,151,True,d,2,9999,9999,5,1955.0,NaN,5414.0,4198000,4198000,4100000,39.0,39.0
54,202102,Villa,København,2500,Valby,719933.5398863752,6172733.845691369,720015.5652068501,6172939.972289341,"55,65058517","12,49571609",848.0,124,150.5500030517578,True,c,2,9999,9999,1,1955.0,NaN,5582.0,6295000,6295000,6800000,0.0,0.0
55,201607,Villa,København,2500,Valby,719933.7900636722,6172733.210502557,720015.8153840768,"6172939,337","55,65057936","12,49571955",848.0,124,151,True,d,2,9999,9999,1,1955.0,NaN,5414.0,4198000,4198000,4100000,39.0,39.0
56,202001,Villa,København,2720,Vanløse,719256.4999031406,6176927.000323837,719338.5318065231,6177133.155008222,"55,68849846","12,48832534",591.0,149,102,True,e,1,9999,9999,1,1898.0,NaN,5741.0,6750000,6750000,6750000,0.0,0.0
57,202001,Villa,København,2720,Vanløse,"719193,3124",6176974.000146354,719275.3440082173,6177180.155289061,"55,68894852","12,48735969",604.0,170,201,True,d,2,9999,9999,5,1924.0,NaN,6311.0,8500000,8500000,8500000,21.0,21.0
58,201102,Villa,København,2720,Vanløse,719184.0000382497,6177019.999401939,719266.0317275801,6177226.154857458,"55,68936528","12,4872486",630.0,164,199,True,d,2,9999,9999,9999,1922.0,NaN,NaN,5250000,5250000,4900000,63.0,63.0
59,201205,Villa,København,2720,Vanløse,719152.0001614711,6177169.999566888,719234.0320377699,6177376.156046659,"55,69072504","12,4868604",319.0,118,120,True,c,1,9999,9999,90,1995.0,NaN,NaN,2995000,2995000,2995000,9.0,9.0
60,201205,Villa,København,2720,Vanløse,719152.0001614711,6177169.999566888,719234.0320377699,6177376.156046659,"55,69072504","12,4868604",319.0,118,120,True,c,1,9999,9999,1,1995.0,NaN,NaN,2995000,2995000,2995000,9.0,9.0
61,201206,Villa,København,2300,København S,726800.9999029698,6172363.000675912,726883.0673508756,"6172569,107","55,64410488","12,60432603",647.0,80,117,True,d,2,9999,9999,1,1937.0,1961.0,NaN,3295000,2995000,2800000,264.0,264.0
62,202102,Villa,København,2700,Brønshøj,720009.8244372861,6178960.796340129,720091.8663114768,6179166.961841245,"55,70639801","12,50191784",281.0,108,113,True,g,1,9999,9999,5,1900.0,NaN,4162.0,4995000,4995000,4850000,75.0,75.0
63,201111,Villa,København,2720,Vanløse,718461.7697517674,6176835.576472152,718543.7964391774,6177041.732636941,"55,68803673","12,47563467",630.0,140,165,True,d,2,9999,9999,1,1931.0,1972.0,NaN,4795000,4649000,4300000,148.0,148.0
64,201801,Villa lejlighed,København,2720,Vanløse,719101.4000383742,6177092.410435669,719183.4313972098,6177298.566559193,"55,690052","12,485995",788.0,112,130.1999969482422,True,d,1,9999,9999,5,1919.0,1975.0,3165.0,5150000,5150000,5150000,10.0,10.0
65,201608,Villa lejlighed,København,2720,Vanløse,"719050,6999",6177135.649609872,719132.7310186431,6177341.806135841,"55,69046268","12,48522455",662.0,98,112,True,e,1,9999,9999,1,1928.0,1953.0,3088.0,3850000,3850000,3760000,18.0,18.0
66,201609,Villa lejlighed,København,2720,Vanløse,"719050,6999",6177135.649609872,719132.7310186431,6177341.806135841,"55,69046268","12,48522455",662.0,118,149,True,e,2,9999,9999,1,1928.0,1953.0,3088.0,4000000,4000000,4000000,1.0,1.0
67,201306,Villa,København,2720,Vanløse,719029.7668775035,6177262.573976216,719111.7982271074,6177468.731352972,"55,69161048","12,48499356",618.0,100,142,True,d,2,9999,9999,9999,1934.0,NaN,NaN,3695000,3495000,3400000,175.0,175.0
68,201508,Villa,København,2720,Vanløse,718991.4198648782,6177267.940436962,719073.4509880906,6177474.097946516,"55,69167591","12,48438897",839.0,192,237,True,g,3,9999,9999,1,1918.0,1999.0,6610.0,4695000,4695000,4500000,177.0,366.0
69,201909,Rækkehus,København,2770,Kastrup,726493.7294399685,6171683.342667533,726575.7932135941,6171889.445757332,"55,63815308","12,59889412",303.0,96,109,True,c,1,9999,9999,5,1964.0,NaN,4274.0,3195000,3195000,2976000,55.0,55.0
70,201103,Villa,København,2700,Brønshøj,719537.0001395864,6177746.000374139,"719619,0359",6177952.159474218,"55,69571707","12,49343444",622.0,114,131,True,f,1,9999,9999,1,1927.0,NaN,NaN,3150000,3150000,3000000,40.0,40.0
71,201510,Villa,København,2700,Brønshøj,719508.7644935972,6177849.570761488,"719590,8004",6178055.730584503,"55,69665873","12,493069",622.0,105,144,True,g,1,9999,9999,1,1936.0,NaN,5379.0,4595000,3999000,3999000,72.0,72.0
72,201701,Villa,København,2500,Valby,720344.9364571954,"6174179,001",720426.9680881532,6174385.135510729,"55,66336","12,5034",393.0,175,203,True,f,2,9999,9999,1,1913.0,1938.0,4669.0,5995000,5795000,5700000,217.0,217.0
73,201701,Villa,København,2500,Valby,720344.9364571954,"6174179,001",720426.9680881532,6174385.135510729,"55,66336","12,5034",393.0,175,203,True,f,2,9999,9999,1,1913.0,1938.0,4669.0,5995000,5795000,5700000,217.0,217.0
74,202105,Villa,København,1770,København V,722439.3766753325,"6174854,576",722521.4231808404,"6175060,709","55,66846466","12,53717709",75.0,132,147,True,d,3,9999,9999,1,1891.0,1994.0,4660.0,12500000,12500000,12500000,35.0,35.0
75,201305,Villa,København,2500,Valby,"720415,759",6174428.587253201,720497.7916954745,6174634.723254308,"55,66556633","12,50472396",690.0,144,146,True,e,1,9999,9999,1,1902.0,NaN,NaN,4750000,4495000,3825000,165.0,165.0
76,201603,Villa,København,2500,Valby,"720419,51","6174428,44",720501.5427361878,"6174634,576","55,66556331","12,50478336",690.0,144,146,True,e,1,9999,9999,1,1902.0,NaN,6684.0,5995000,5995000,5800000,57.0,91.0
77,201506,Villa lejlighed,København,2500,Valby,720449.1302317572,6174390.950190514,720531.1630630551,"6174597,086","55,66521364","12,50522326",690.0,90,94.44999694824219,False,d,1,9999,9999,1,1902.0,1964.0,2970.0,3195000,3195000,2950000,0.0,0.0
78,202107,Villa,København,2300,København S,726753.7497128092,6173607.000483393,"726835,8201",6173813.114993926,"55,6552827","12,60460272",1111.0,450,544.2999877929688,True,d,4,9999,9999,1,1902.0,NaN,10696.0,18500000,18500000,17500000,0.0,165.0
79,201707,Villa,København,2300,København S,"727224,4798","6172540,05",727306.5504004811,6172746.156285316,"55,64549492","12,61118728",570.0,130,126,True,e,1,9999,9999,5,1922.0,NaN,5294.0,5298000,5095000,5250000,93.0,235.0
80,202008,Villa,København,2300,København S,727224.2506242469,6172540.624301707,727306.3211836722,6172746.730902103,"55,64550018","12,61118412",570.0,130,155,True,e,1,9999,9999,5,1922.0,NaN,5647.0,6500000,6500000,6175000,50.0,50.0
81,201206,Rækkehus,København,2500,Valby,720797.7572124875,6174876.584179765,720879.7934827583,6175082.7220086595,"55,6694108","12,51114532",150.0,89,106,True,e,1,9999,9999,1,1943.0,NaN,NaN,2800000,2800000,2600000,34.0,34.0
82,201704,Villa lejlighed,København,2500,Valby,720564.7583920865,6174844.585152766,720646.7931190107,6175050.723382185,"55,66922964","12,50742224",475.0,146,151,True,d,2,9999,9999,1,1923.0,NaN,4236.0,5245000,5245000,5283019,17.0,17.0
83,201406,Villa lejlighed,København,2500,Valby,720557.7585962397,6174843.585275015,720639.7932766987,6175049.723516226,"55,66922385","12,50731036",NaN,146,89.94999694824219,True,e,2,9999,9999,1,1923.0,NaN,NaN,3595000,3595000,3700000,15.0,55.0
84,202101,Villa lejlighed,København,2500,Valby,720560.4372974283,6174843.999605466,720642.4719957508,6175050.137842362,"55,66922635","12,5073532",475.0,91,89.94999694824219,False,d,2,9999,9999,1,1923.0,NaN,3315.0,5750000,5750000,5750000,0.0,0.0

In [48]:
print("\nOur data set has {} rows and {} columns".format( df.shape[0], df.shape[1]))

columns = list(df.columns)
print("\n\n The name of the columns:")
for i in columns:
    print (" -  ",i)

Our data set has 72282 rows and 28 columns


 The name of the columns:
 -   YearMonth_sale
 -   case_type_dk
 -   municipality_name
 -   zip_code
 -   zip_code_name
 -   erts89_utm32_x
 -   erts89_utm32_y
 -   ed50_x
 -   ed50_y
 -   wgs84_lat
 -   wgs84_lon
 -   ground_area
 -   residental_area
 -   measured_area
 -   energy_labeled_required
 -   energy_labeled
 -   amount_of_toilets
 -   heating_code
 -   heating_installation_code
 -   exterior_wall_code
 -   year_of_construction
 -   renovation_year
 -   owner_expenses
 -   first_offer_price
 -   lastest_announced_price
 -   registered_price
 -   days_on_the_market_latest_broker
 -   days_on_the_market_all_broker

In [51]:
print("ground_area NA values", df["ground_area"].isna().sum() )

ground_area NA values 49926

In [66]:
df[df.columns[7]].isna().sum()

0

In [103]:
for i in range(0,28): 
    if (df[df.columns[i]].isna().sum())>0:
        print("{:10.0f}   is the amount of null values that the columns following columns has:    {}".format(df[df.columns[i]].isna().sum(),df.columns[i]))

#print("total amount of Na values\n")
#df.isna().sum()

     49926   is the amount of null values that the columns following columns has:    ground_area
      2886   is the amount of null values that the columns following columns has:    measured_area
         4   is the amount of null values that the columns following columns has:    energy_labeled_required
      2436   is the amount of null values that the columns following columns has:    energy_labeled
         2   is the amount of null values that the columns following columns has:    year_of_construction
     61518   is the amount of null values that the columns following columns has:    renovation_year
     16809   is the amount of null values that the columns following columns has:    owner_expenses
      1805   is the amount of null values that the columns following columns has:    days_on_the_market_latest_broker
      4164   is the amount of null values that the columns following columns has:    days_on_the_market_all_broker