In [15]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler


import warnings
warnings.filterwarnings("ignore")

### Question 0
Load the telco data file we used in Lab 3, and perform a train-test split. Create a scaled version of the data, using Standard Scaler. Call the scaled version X_train_scaled, and X_test_scaled.

In [7]:
#Reading and fast visualization of my dataset
df = pd.read_csv("3. telco.csv")
df.head()

,Unnamed: 0,tenure,Partner,Dependents,gender,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,MultipleLines_No phone service,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn
0,0,1,1,0,0,0,1,29.85,29.85,1,...,0,0,0,0,0,0,0,1,0,No
1,1,34,0,0,1,1,0,56.95,1889.50,0,...,0,0,0,0,1,0,0,0,1,No
2,2,2,0,0,1,1,1,53.85,108.15,0,...,0,0,0,0,0,0,0,0,1,Yes
3,3,45,0,0,1,0,0,42.30,1840.75,1,...,0,0,0,0,1,0,0,0,0,No
4,4,2,0,0,0,1,1,70.70,151.65,0,...,0,0,0,0,0,0,0,1,0,Yes

In [13]:

# I create my features values in y
X = df.drop(["Churn"], axis=1)

# I create my target value in X 
y=df["Churn"]


#Perfom a train-test split ; stratify by my target value so its equally in proportion in both sets and random_state=0 just to reproduce the same split in the future
X_train, X_test, y_train, y_test = train_test_split(X,y,stratify=y,random_state=0)

In [16]:
# Creating the scaler variable
scaler=MinMaxScaler()

#the scaler needs to be trained only in the training data and not in the test data, so it needs to be fit in there.
# What this will do is to adapt to all the values from the training set and create the new parameters dividing 
# all the numbers by the Max number found in the trianig data set
scaler.fit(X_train)

# Once the scaler variable has all the relative numbers, i can transform all the features so my new X_train_scaled will 
# only have numbers potencially between 0-1. On the test data we might find numbers higher than one or just smaller since 
# it will be divided by the higher number in the trainig set
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

<h2>Question 1</h2>
Build two versions of a default random forest model, using the normal data (X_train, X_test) and the scaled data (X_train_scaled, X_test_scaled). Print train and test scores for normal and scaled. </i>

In [18]:

# Default random forest model --> n_estimators = 10 ; max_depth = None ; max_features=”sqrt” and
# will state random_state=0 to reproduce the difference between nomal data and scaled data

#I create the classifier and fit it in the NON-scaled data as the first point of comparisson
rfclf = RandomForestClassifier(random_state=0).fit(X_train,y_train)

#Save the scores of the NON-scaled data 
normal_train_score=rfclf.score(X_train,y_train)
normal_test_score=rfclf.score(X_test,y_test)

print("The score for the NON-scaled data is:  Train score: {:.3f}  ; Test score: {:.3f}\n".format(normal_train_score,normal_test_score))


##I create the classifier and fit it in the SCALED data to compare with the first one. While fitting with the SCALED data, the target is not scaled
rfsclf = RandomForestClassifier(random_state=0).fit(X_train_scaled,y_train)

#Save the scores of the SCALED data 
rfsclf_train_score=rfsclf.score(X_train_scaled,y_train)
rfsclf_test_score=rfsclf.score(X_test_scaled,y_test)

print("The score for the SCALED data is:  Train score: {:.3f}  ; Test score: {:.3f}\n".format(rfsclf_train_score,rfsclf_test_score))


###################### I SHOULD PLOT THE IN A GRAPH !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

The score for the NON-scaled data is:  Train score: 1.000  ; Test score: 0.784


The score for the SCALED data is:  Train score: 1.000  ; Test score: 0.786

<h2>Question 2</h2>
Build two versions of a default mlp model, using the normal data (X_train, X_test) and the scaled data (X_train_scaled, X_test_scaled). Print train and test scores for normal and scaled. </i>

In [19]:
# Defaul MLP model --> hidden_layers_size=100, activation function = "relu" ; alpha = 0.0001

#I create the mlp with dafault parameters for the NON-scaled data
mlpclf = MLPClassifier(random_state=0).fit(X_train, y_train)

#Save the scores of the NON-scaled data 
mlp_train_score=mlpclf.score(X_train,y_train)
mlp_test_score=mlpclf.score(X_test,y_test)


print ("The score for the NON-scaled data is:  train score: {:.3f} ;  test score: {:.3f} \n".format(mlp_train_score,mlp_test_score))


#I create the mlp with dafault parameters for the SCALED data
mlpsclf = MLPClassifier(random_state=0).fit(X_train_scaled, y_train)

#Save the scores of the NON-scaled data 
mlps_train_score=mlpsclf.score(X_train_scaled,y_train)
mlps_test_score=mlpsclf.score(X_test_scaled,y_test)


print ("The score for the NON-scaled data is:  train score: {:.3f} ;  test score: {:.3f} \n".format(mlps_train_score,mlps_test_score))

The score for the NON-scaled data is:  train score: 0.730 ;  test score: 0.716

The score for the NON-scaled data is:  train score: 0.843 ;  test score: 0.783

<h2>Question 3</h2>
Now try mlp models with different values for the hidden layer size. Try with  two hidden layers, with sizes ranging from 1 to 20, incremented by 5. For each iteration, fit the model to both the normal and scaled data. Save the train and test scores for both in two lists. Also print the scaled and normal results at each iteration.

In [34]:
# MLP with different values for the hidden layer size --> 1 SINGLE later many units inside 

# This is the list with the units of each different hidden layers
units = list(range(1,20,5))

#I create empty lists where i will save the results of MLP with 1 single layer with different hidden layer sizes
mlp1_train_score=list()
mlp1_test_score=list()

# j will be just a counter variable to distinguish each iteraction in position of a list
j=0


# Just printing a title
print(" For the MLP model fit in the NON-scaled data with a SINGLE layer and different hidden sizes the results are:\n") 

# A loop where the MLP classifier will be fit with the different units for the NON-scaled data
for i in units: 
        
        mlp1clf=MLPClassifier(hidden_layer_sizes=i, random_state=0).fit(X_train,y_train)

        # I add to the list each of the scores of the iteration

        mlp1_train_score.append(mlp1clf.score(X_train,y_train))
        mlp1_train_score.append(mlp1clf.score(X_test,y_test))
        

        #While looping printing the results 
        print("{}) Hidden size: {}  --> Train Score: {:.3f}   ;   Test Score: {:.3f}".format(j+1,i, mlp1_train_score[j], mlp1_test_score[j]))

        j+=1

 For the MLP model fit in the NON-scaled data with a SINGLE layer and different hidden sizes the results are:

IndexError: list index out of range

In [35]:

#I create empty lists where i will save the results of MLP with 1 single layer with different hidden layer sizes
mlps1_train_score=list()
mlps1_test_score=list()

# I initialize the counter variable again
j=0 

# Just printing a title
print(" For the MLP model fit in the SCALED data with a SINGLE layer and different hidden sizes the results are:\n") 

# A loop where the MLP classifier will be fit with the different units for the SCALED data
# I use the units list created before
for i in units: 
        
        mlps1clf=MLPClassifier(hidden_layer_sizes=i, random_state=0).fit(X_train_scaled,y_train)

        # I add to the list each of the scores of the iteration

        mlps1_train_score.append(mlps1clf.score(X_train_scaled,y_train))
        mlps1_train_score.append(mlps1clf.score(X_test_scaled,y_test))
        

        #While looping printing the results 
        print("{}) Hidden size: {}  --> Train Score: {:.3f}   ;   Test Score: {:.3f}".format(j+1,i, mlps1_train_score[j], mlps1_test_score[j]))

        j+=1

 For the MLP model fit in the SCALED data with a SINGLE layer and different hidden sizes the results are:

IndexError: list index out of range

<h2>Question 3</h2>
Read the HomesSoldHellerup.csv file, using read_csv (note that the separator is a semicolon and not a comma, which is the default). Use the columns 'Type', 'm2', 'Build Year', and 'Type of Sale' (assign this to X).

In [37]:
#Reading, visualizing and creating a new dataset under df2
df2 = pd.read_csv("4. HomesSoldHellerup.csv", sep=";")
df2.head()

,Road name,Road Number,Type,m2,Build Year,ZipCode,City,Date of Sale,Type of Sale,Price
0,Tuborgvej,54,Lejlighed,54,1932,2900,Hellerup,20-07-15,Alm. Salg,1700000
1,Tuborgvej,54,Lejlighed,87,1932,2900,Hellerup,12-05-15,Alm. Salg,2815000
2,Tuborgvej,54,Lejlighed,63,1932,2900,Hellerup,29-12-10,Alm. Salg,1575000
3,Tuborgvej,54,Lejlighed,54,1932,2900,Hellerup,10-04-12,Alm. Salg,1340000
4,Tuborgvej,54,Lejlighed,63,1932,2900,Hellerup,04-02-12,Alm. Salg,1435000

In [40]:
# I create my X variable that will include the features for the model
X=df2[['Type', 'm2', 'Build Year','Type of Sale']]

<h2>Question 4</h2>
Use get_dummies to produce dummy values for the non-numeric columns in X. (Use the optional parameter, columns, with a list of the columns that should get dummy values.)

In [68]:
#Visualize the X dataset
X.head()

        Type  m2  Build Year Type of Sale
0  Lejlighed  54        1932    Alm. Salg
1  Lejlighed  87        1932    Alm. Salg
2  Lejlighed  63        1932    Alm. Salg
3  Lejlighed  54        1932    Alm. Salg
4  Lejlighed  63        1932    Alm. Salg

In [69]:
# Print the shape to compare
print(X.shape)

(2160, 4)

In [70]:
X_dummies=pd.get_dummies(X)
X_dummies.head(50)

,m2,Build Year,Type_Døgninstitution,Type_Erhverv,Type_Lejlighed,Type_Rækkehus,Type_Stuehus,Type_Villa,Type of Sale_Alm. Salg,Type of Sale_Andet,Type of Sale_Auktion,Type of Sale_Fam. Salg
0,54,1932,0,0,1,0,0,0,1,0,0,0
1,87,1932,0,0,1,0,0,0,1,0,0,0
2,63,1932,0,0,1,0,0,0,1,0,0,0
3,54,1932,0,0,1,0,0,0,1,0,0,0
4,63,1932,0,0,1,0,0,0,1,0,0,0
5,147,1947,0,0,0,0,0,1,0,0,0,1
6,186,1949,0,0,0,0,0,1,1,0,0,0
7,66,1978,0,0,1,0,0,0,1,0,0,0
8,69,1978,0,0,1,0,0,0,1,0,0,0
9,66,1978,0,0,1,0,0,0,1,0,0,0
10,69,1978,0,0,1,0,0,0,1,0,0,0
11,66,1978,0,0,1,0,0,0,1,0,0,0
12,69,1978,0,0,1,0,0,0,1,0,0,0
13,69,1978,0,0,1,0,0,0,1,0,0,0
14,69,1978,0,0,1,0,0,0,1,0,0,0
15,66,1978,0,0,1,0,0,0,1,0,0,0
16,66,1978,0,0,1,0,0,0,0,0,0,1
17,69,1978,0,0,1,0,0,0,1,0,0,0
18,69,1978,0,0,1,0,0,0,1,0,0,0
19,66,1978,0,0,1,0,0,0,1,0,0,0
20,69,1978,0,0,1,0,0,0,1,0,0,0
21,69,1978,0,0,1,0,0,0,1,0,0,0
22,69,1978,0,0,1,0,0,0,1,0,0,0
23,66,1978,0,0,1,0,0,0,1,0,0,0
24,66,1978,0,0,1,0,0,0,1,0,0,0
25,69,1978,0,0,1,0,0,0,1,0,0,0
26,69,1978,0,0,1,0,0,0,1,0,0,0
27,69,1978,0,0,1,0,0,0,1,0,0,0
28,66,1978,0,0,1,0,0,0,1,0,0,0
29,69,1978,0,0,1,0,0,0,1,0,0,0
30,66,1978,0,0,1,0,0,0,1,0,0,0
31,69,1978,0,0,1,0,0,0,1,0,0,0
32,87,1978,0,0,1,0,0,0,1,0,0,0
33,80,1978,0,0,1,0,0,0,1,0,0,0
34,69,1978,0,0,1,0,0,0,1,0,0,0
35,69,1978,0,0,1,0,0,0,1,0,0,0
36,80,1978,0,0,1,0,0,0,1,0,0,0
37,69,1978,0,0,1,0,0,0,1,0,0,0
38,87,1978,0,0,1,0,0,0,1,0,0,0
39,69,1978,0,0,1,0,0,0,1,0,0,0
40,66,1978,0,0,1,0,0,0,1,0,0,0
41,69,1978,0,0,1,0,0,0,1,0,0,0
42,69,1978,0,0,1,0,0,0,1,0,0,0
43,66,1978,0,0,1,0,0,0,1,0,0,0
44,80,1978,0,0,1,0,0,0,1,0,0,0
45,69,1978,0,0,1,0,0,0,1,0,0,0
46,87,1978,0,0,1,0,0,0,1,0,0,0
47,69,1978,0,0,1,0,0,0,1,0,0,0
48,87,1978,0,0,1,0,0,0,1,0,0,0
49,80,1978,0,0,1,0,0,0,1,0,0,0

In [67]:
X_dummies.shape

(2160, 12)

<h2>Question 5</h2>
How many columns were added by get_dummies?

In [ ]:
# 8 columns were added

<h2>Question 6</h2>
Create a Linear Regression model for two versions of the data -- the first with only numeric columns, m2 and Build Year. Then use the version with dummy values for Type and Type of Sale. Print the score for train and test for each version.

<h2>Question 7</h2>
Create a Decision Tree model for two versions of the data -- the first with only numeric columns, m2 and Build Year. Then use the version with dummy values for Type and Type of Sale. Print the score for train and test for each version.

<h2>Question 8</h2>
Now add dummy values for Road Name to the data. Create a Decision Tree model for this version of the data. Print the score for train and test for each version.

<h2> Question 9</h2>
Build a Random Forest regressor for this data. Set random_state, with otherwise default settings, and print train and test scores.